@import "tailwindcss";
@import "@lisca/ui/coss-theme.css";
@custom-variant dark (&:where(.dark, .dark *));
@source "../../../../packages/ui/src";
@source "../../../../apps/aligner/demo/src";
@source "../../../../apps/annotator/demo/src";

body {
  @apply bg-background text-foreground;
  margin: 1rem;
  max-width: 40rem;
}

header,
footer,
section,
article {
  margin-block: 2rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

a {
  color: inherit;
}
