server {
    listen ${PUBLIC_PORT};
    root /srv/web;
    index index.html;

    location /ws {
        proxy_pass http://127.0.0.1:${PORT};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_read_timeout 86400;
    }

    location /fs/ {
        proxy_pass http://127.0.0.1:${PORT};
        proxy_set_header Host $host;
    }

    location /align/ {
        proxy_pass http://127.0.0.1:${PORT};
        proxy_set_header Host $host;
    }

    location /annotate/ {
        proxy_pass http://127.0.0.1:${PORT};
        proxy_set_header Host $host;
    }

    location /studio/ {
        proxy_pass http://127.0.0.1:${PORT};
        proxy_set_header Host $host;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
